/HTML/
.history/
/plugins/extra/
ema_crossovers/
screener/
.venv/
portfolio/
.history-backup/
common/logs/php_error_admin.localhost.8080.log
logs/php_error_web.localhost.8080.log
common/logs/
logs/
logs/php_error_web.localhost.8080.log
logs/php_error_web.localhost.8080.log
order_status/
symbol_data/
combination_reports_data/
shop-data/
db-backup/
