
    .apexcharts-tooltip {
      background: #808191!important;
      color: #ccc;
      border: none!important;
    }
    /* .apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #e3e3e3;
    background: rgba(255, 255, 255, 0.96);
} */

      .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
          background: #908191!important;
          border-bottom: none!important;
      }
      .apexcharts-xaxistooltip.apexcharts-theme-dark {
        background: #908191!important;
        border: none!important;
        color: #ccc;
      }
      .apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before ,
      .apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
          border-bottom-color: #908191!important;
      }

      .apexcharts-legend-series{
        margin-bottom: 10px !important;
      }


      