.table{
  color: var(--heading-color);
}

.table th{
  font-family: var(--heading-font);
  font-weight: 500;
  opacity: 0.6;
  color: var(--text-color);
}
.table td, .table th{
  padding: 20px 15px 20px 0px;
  vertical-align: middle;
}
.table.compact td, .table.compact th{
  padding: 5px 5px 5px 0px;
  vertical-align: middle;
}

.table tr:hover{
  background-color: #eeeeee;
}

.table>:not(:first-child){
  border: none;
}
.table>:not(caption)>*>*{
  border-color: #eee;
}
.table .gray{
  color: var(--text-color);
}
.table .title{
  /* color: var(--heading-color); */
  /* font-family: var(--heading-font); */
  font-size: 16px;
  font-weight: 500;
}
.table .primary{
  color: var(--primary-color);
}
.table .accent1{
  color: var(--accent1-color);
}
.table .accent2{
  color: var(--accent2-color);
}
.table .accent3{
  color: var(--accent3-color);
}

.table h5, .table h6{
  margin-bottom: 0;
}

.nowrap{
  white-space: nowrap;
}

.avatar-left .avatar{
  float: left;
  margin-top: 5px;
}
.avatar-left .info-area{
  padding-left: 5px;
  display: inline-block;
}
.table.table-compact td, .table.table-compact th{
  padding: 8px 10px 8px 0px;
}