.widget-graph-counters{
  vertical-align: top;
  position: relative;
}

.widget-graph-counters .wrap{
  /* background-color: #ccc; */
  display: inline-block;
  position: relative;
  z-index: 2;
}

.widget-graph-counters .graph{
  display: inline-block;
  position: absolute;
  z-index: 1;
  height: 100px;
  width: calc(100% - 200px);
  min-width: 100px;
  top: 50%;
  margin-top: -50px;
  right: 48px;
}

.widget-graph-counters .graph-wrap{
  /* background-color: lightgrey; */
  width: 100%;
  height: 100px;
}
.widget-graph-counters .apexcharts-canvas{
  margin: auto;
}


.widget-graph-counters .icon-rounded{
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.widget-graph-counters .icon-rounded svg{
  height: 100%;
}

.widget-graph-counters .tit{
  font-family: var(--text-font);
  /* font-size: 18px; */
  color: var(--text-color);
  margin-bottom: 15px;
}
.widget-graph-counters .count{
  display: inline-block;  
  font-family: var(--heading-font);
  color: var(--heading-color);
  line-height: 30px;
  margin-bottom: 0px !important;
  margin-block-end: 0;
}
.widget-graph-counters .percent{
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  line-height: 24px;
  margin: 15px 0px 0 0;
  display: inline-block;  
  font-family: var(--heading-font);
  color: var(--heading-color);
  padding: 2px 15px;
  border-radius: 15px;
}
.widget-graph-counters .percent svg{
  height: 16px;
  width: 16px;
  margin: 0 2px 0 0px;
}
.widget-graph-counters .percent.up{
  color: var(--success-color);
}
.widget-graph-counters .percent.down{
  color: var(--danger-color);
}
.widget-graph-counters .wrap{
  white-space: nowrap;
}